body {
    font-family: "Palatino Linotype";
    background-color: rgb(195,195,195);
}
header{
    height: 120px;
    background-color: #000;
    border-radius: 2px;
    width: 100%;
}
header img{
    margin-left: 10px; 
    width: 100px;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
header ul li{
    display: inline-block;
    float: right;
    margin-right: 2px;
}
#loginForm ul{
    list-style: none;
    width: 50%;
    margin: 45px auto;
    margin-bottom: 0;
}

#loginForm ul li{
    display: block;
}

#login-buton{
    margin-left: 58%;
}

#loginForm fieldset{
    margin: auto;
    width: 50%;
    height: 245px;
}
#loginForm fieldset input[type="submit"]{
    border-radius: 10px;
    margin: auto;
    padding: 10px;
}

.header_action{
    margin-right: 10px;
}


.header_action a{
    color: #FFF;
    text-decoration: none;
    font-size: 13px;
}
#login{
    float:right;
}

#logo_cp2{
    float:left;
    width: 58%;
}
#logo_cp2 h2{
    color: #FFF;
    font-size: 33px;
    font-family: Palatino Linotype;
    float: right;
}
